.container-table {
    font-family: Arial, sans-serif;
    background-color: rgba(228, 184, 248, 0.836);
    padding: 20px;
    
    align-items: center;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  table {
    width: 40%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
 
  th, td {
    border: 1px solid #9512b6;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  .today {
    background-color: #e97bec;
  }
  .table-all{
    display: flex;
    justify-content: space-between;
  }
  .container-table .table-logo{
    margin-top: 80px;
  }
  .container-table .table-logo img{
    width: 150px;
    height: auto;
  }
  @media (min-width: 200px) and (max-width: 600px){
    .container-table .table-logo img{
      width: 50px;
      height: auto;
    }
    th, td{
      font-size: 10px;
    }
    table {
      width: 60%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    h1 {
      font-size: 15px;
    }
  }
  @media (min-width: 200px) and (max-height: 800px){
    .container-table .table-logo img{
      width: 50px;
      height: auto;
    }
    th, td{
      font-size: 10px;
    }
    table {
      width: 70%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    h1 {
      font-size: 15px;
    }
  }

  @media (min-width:360) and (max-height:915){

  }
    
  